In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime, math

In [2]:
%%capture
mta = pd.read_csv('mta_1708.csv', error_bad_lines=False)
# mta.set_index('PublishedLineName', inplace=True)
m100 = mta.loc[(mta['PublishedLineName']== 'M100') & (mta['DestinationName'] == 'INWOOD 220 ST via AMSTERDAM via BWAY'),]
arrivals = m100.loc[m100['ArrivalProximityText']=='at stop']
arrivals.head(20)

In [3]:
arrivals.head(20)

,RecordedAtTime,DirectionRef,PublishedLineName,OriginName,OriginLat,OriginLong,DestinationName,DestinationLat,DestinationLong,VehicleRef,VehicleLocation.Latitude,VehicleLocation.Longitude,NextStopPointName,ArrivalProximityText,DistanceFromStop,ExpectedArrivalTime,ScheduledArrivalTime
1523,2017-08-01 00:11:39,0,M100,1 AV/125 ST,40.801968,-73.931358,INWOOD 220 ST via AMSTERDAM via BWAY,40.871902,-73.913101,NYCT_4349,40.859447,-73.922601,10 AV/HARLEM RIVER DR,at stop,18.0,2017-08-01 00:11:52,24:08:48
1762,2017-08-01 00:21:06,0,M100,1 AV/125 ST,40.801968,-73.931358,INWOOD 220 ST via AMSTERDAM via BWAY,40.871902,-73.913101,NYCT_4368,40.840707,-73.939571,ST NICHOLAS AV/W 167 ST,at stop,25.0,2017-08-01 00:21:16,24:14:01
3232,2017-08-01 00:41:29,0,M100,1 AV/125 ST,40.801968,-73.931358,INWOOD 220 ST via AMSTERDAM via BWAY,40.871902,-73.913101,NYCT_8375,40.804519,-73.937764,E 125 ST/LEXINGTON AV,at stop,3.0,NaN,24:38:03
3850,2017-08-01 00:51:52,0,M100,1 AV/125 ST,40.801968,-73.931358,INWOOD 220 ST via AMSTERDAM via BWAY,40.871902,-73.913101,NYCT_8375,40.814355,-73.955555,AMSTERDAM AV/W 126 ST,at stop,2.0,NaN,24:47:36
4423,2017-08-01 01:01:11,0,M100,1 AV/125 ST,40.801968,-73.931358,INWOOD 220 ST via AMSTERDAM via BWAY,40.871902,-73.913101,NYCT_8375,40.834044,-73.941169,AMSTERDAM AV/W 159 ST,at stop,21.0,NaN,24:58:27
13699,2017-08-01 05:21:36,0,M100,1 AV/125 ST,40.801968,-73.931358,INWOOD 220 ST via AMSTERDAM via BWAY,40.871902,-73.913101,NYCT_8368,40.807974,-73.945989,W 125 ST/MALCOLM X BL,at stop,0.0,2017-08-01 05:21:58,05:18:18
13700,2017-08-01 05:21:36,0,M100,1 AV/125 ST,40.801968,-73.931358,INWOOD 220 ST via AMSTERDAM via BWAY,40.871902,-73.913101,NYCT_8368,40.807974,-73.945989,W 125 ST/MALCOLM X BL,at stop,0.0,2017-08-01 05:21:58,05:18:52
13701,2017-08-01 05:21:36,0,M100,1 AV/125 ST,40.801968,-73.931358,INWOOD 220 ST via AMSTERDAM via BWAY,40.871902,-73.913101,NYCT_8368,40.807974,-73.945989,W 125 ST/MALCOLM X BL,at stop,0.0,2017-08-01 05:21:58,05:19:27
14605,2017-08-01 05:31:39,0,M100,1 AV/125 ST,40.801968,-73.931358,INWOOD 220 ST via AMSTERDAM via BWAY,40.871902,-73.913101,NYCT_8368,40.825603,-73.947335,AMSTERDAM AV/W 145 ST,at stop,3.0,2017-08-01 05:31:56,05:29:02
14606,2017-08-01 05:31:39,0,M100,1 AV/125 ST,40.801968,-73.931358,INWOOD 220 ST via AMSTERDAM via BWAY,40.871902,-73.913101,NYCT_8368,40.825603,-73.947335,AMSTERDAM AV/W 145 ST,at stop,3.0,2017-08-01 05:31:56,05:30:42
14607,2017-08-01 05:31:39,0,M100,1 AV/125 ST,40.801968,-73.931358,INWOOD 220 ST via AMSTERDAM via BWAY,40.871902,-73.913101,NYCT_8368,40.825603,-73.947335,AMSTERDAM AV/W 145 ST,at stop,3.0,2017-08-01 05:31:56,05:31:42
18114,2017-08-01 06:01:49,0,M100,1 AV/125 ST,40.801968,-73.931358,INWOOD 220 ST via AMSTERDAM via BWAY,40.871902,-73.913101,NYCT_8368,40.861462,-73.921121,10 AV/W 202 ST,at stop,4.0,2017-08-01 06:01:56,05:57:06
18115,2017-08-01 06:01:49,0,M100,1 AV/125 ST,40.801968,-73.931358,INWOOD 220 ST via AMSTERDAM via BWAY,40.871902,-73.913101,NYCT_8368,40.861462,-73.921121,10 AV/W 202 ST,at stop,4.0,2017-08-01 06:01:56,05:57:35
18116,2017-08-01 06:01:49,0,M100,1 AV/125 ST,40.801968,-73.931358,INWOOD 220 ST via AMSTERDAM via BWAY,40.871902,-73.913101,NYCT_8368,40.861462,-73.921121,10 AV/W 202 ST,at stop,4.0,2017-08-01 06:01:56,05:57:49
20136,2017-08-01 06:11:35,0,M100,1 AV/125 ST,40.801968,-73.931358,INWOOD 220 ST via AMSTERDAM via BWAY,40.871902,-73.913101,NYCT_4348,40.856928,-73.932520,BROADWAY/FAIRVIEW AV,at stop,8.0,NaN,06:07:20
20137,2017-08-01 06:11:35,0,M100,1 AV/125 ST,40.801968,-73.931358,INWOOD 220 ST via AMSTERDAM via BWAY,40.871902,-73.913101,NYCT_4348,40.856928,-73.932520,BROADWAY/FAIRVIEW AV,at stop,8.0,NaN,06:10:20
20138,2017-08-01 06:11:35,0,M100,1 AV/125 ST,40.801968,-73.931358,INWOOD 220 ST via AMSTERDAM via BWAY,40.871902,-73.913101,NYCT_4348,40.856928,-73.932520,BROADWAY/FAIRVIEW AV,at stop,8.0,NaN,06:11:49
24410,2017-08-01 06:41:31,0,M100,1 AV/125 ST,40.801968,-73.931358,INWOOD 220 ST via AMSTERDAM via BWAY,40.871902,-73.913101,NYCT_4363,40.825583,-73.947350,AMSTERDAM AV/W 145 ST,at stop,6.0,2017-08-01 06:41:40,06:43:03
26566,2017-08-01 06:51:52,0,M100,1 AV/125 ST,40.801968,-73.931358,INWOOD 220 ST via AMSTERDAM via BWAY,40.871902,-73.913101,NYCT_8366,40.864740,-73.928743,BROADWAY/ARDEN ST,at stop,16.0,NaN,06:53:11
28170,2017-08-01 07:02:15,0,M100,1 AV/125 ST,40.801968,-73.931358,INWOOD 220 ST via AMSTERDAM via BWAY,40.871902,-73.913101,NYCT_4372,40.822433,-73.949653,AMSTERDAM AV/W 140 ST,at stop,0.0,NaN,06:59:58

In [16]:
new = arrivals.loc[:,['RecordedAtTime','VehicleRef']]

In [18]:
new.head()

          RecordedAtTime VehicleRef
1523 2017-08-01 00:11:39  NYCT_4349
1762 2017-08-01 00:21:06  NYCT_4368
3232 2017-08-01 00:41:29  NYCT_8375
3850 2017-08-01 00:51:52  NYCT_8375
4423 2017-08-01 01:01:11  NYCT_8375

mta.describe()

In [ ]:
m100 = mta.loc[(mta['PublishedLineName']== 'M100') & (mta['DestinationName'] == 'INWOOD 220 ST via AMSTERDAM via BWAY'),]

In [ ]:
arrivals = m100.loc[m100['ArrivalProximityText']=='at stop']
arrivals.head(20)

In [ ]:
new = arrivals.loc[:,['RecordedAtTime','VehicleRef']].groupby(['VehicleRef','RecordedAtTime']).count()

new.head(20)

In [ ]:
arrivals.info()

In [19]:
arrivals.RecordedAtTime =pd.to_datetime(arrivals.RecordedAtTime)
new.RecordedAtTime =pd.to_datetime(new.RecordedAtTime)

/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [ ]:
new.RecordedAtTime =pd.to_datetime(new.RecordedAtTime)

In [20]:
def sub(row):
    return row['RecordedAtTime'] - row['RecordedAtTime']

In [21]:
new['Value'] = new.RecordedAtTime.diff()

In [22]:
new.head(100)

           RecordedAtTime VehicleRef             Value
1523  2017-08-01 00:11:39  NYCT_4349               NaT
1762  2017-08-01 00:21:06  NYCT_4368          00:09:27
3232  2017-08-01 00:41:29  NYCT_8375          00:20:23
3850  2017-08-01 00:51:52  NYCT_8375          00:10:23
4423  2017-08-01 01:01:11  NYCT_8375          00:09:19
13699 2017-08-01 05:21:36  NYCT_8368          04:20:25
13700 2017-08-01 05:21:36  NYCT_8368          00:00:00
13701 2017-08-01 05:21:36  NYCT_8368          00:00:00
14605 2017-08-01 05:31:39  NYCT_8368          00:10:03
14606 2017-08-01 05:31:39  NYCT_8368          00:00:00
14607 2017-08-01 05:31:39  NYCT_8368          00:00:00
18114 2017-08-01 06:01:49  NYCT_8368          00:30:10
18115 2017-08-01 06:01:49  NYCT_8368          00:00:00
18116 2017-08-01 06:01:49  NYCT_8368          00:00:00
20136 2017-08-01 06:11:35  NYCT_4348          00:09:46
20137 2017-08-01 06:11:35  NYCT_4348          00:00:00
20138 2017-08-01 06:11:35  NYCT_4348          00:00:00
24410 2017-08-01 06:41:31  NYCT_4363          00:29:56
26566 2017-08-01 06:51:52  NYCT_8366          00:10:21
28170 2017-08-01 07:02:15  NYCT_4372          00:10:23
32744 2017-08-01 07:11:14  NYCT_8391          00:08:59
34363 2017-08-01 07:22:23  NYCT_8368          00:11:09
34364 2017-08-01 07:22:23  NYCT_8368          00:00:00
34365 2017-08-01 07:22:23  NYCT_8368          00:00:00
34418 2017-08-01 07:22:18  NYCT_4362 -1 days +23:59:55
39342 2017-08-01 07:42:18  NYCT_4393          00:20:00
43022 2017-08-01 07:51:49  NYCT_8368          00:09:31
43023 2017-08-01 07:51:49  NYCT_8368          00:00:00
43024 2017-08-01 07:51:49  NYCT_8368          00:00:00
44188 2017-08-01 07:51:58  NYCT_8391          00:00:09
...                   ...        ...               ...
80580 2017-08-01 10:12:27  NYCT_4363          00:10:30
80655 2017-08-01 10:12:31  NYCT_4351          00:00:04
80663 2017-08-01 10:12:19  NYCT_8366 -1 days +23:59:48
81927 2017-08-01 10:12:10  NYCT_8391 -1 days +23:59:51
82214 2017-08-01 10:21:34  NYCT_4372          00:09:24
82652 2017-08-01 10:21:54  NYCT_4390          00:00:20
83245 2017-08-01 10:21:48  NYCT_4362 -1 days +23:59:54
83539 2017-08-01 10:21:31  NYCT_4101 -1 days +23:59:43
83989 2017-08-01 10:21:54  NYCT_4384          00:00:23
84767 2017-08-01 10:32:14  NYCT_4360          00:10:20
85324 2017-08-01 10:32:18  NYCT_4362          00:00:04
85621 2017-08-01 10:32:22  NYCT_8381          00:00:04
86362 2017-08-01 10:42:03  NYCT_4372          00:09:41
86789 2017-08-01 10:41:46  NYCT_4390 -1 days +23:59:43
87342 2017-08-01 10:41:56  NYCT_8389          00:00:10
87372 2017-08-01 10:41:50  NYCT_4362 -1 days +23:59:54
89366 2017-08-01 10:52:32  NYCT_8389          00:10:42
89658 2017-08-01 10:52:27  NYCT_4101 -1 days +23:59:55
90460 2017-08-01 11:02:25  NYCT_8384          00:09:58
91360 2017-08-01 11:02:30  NYCT_8389          00:00:05
92094 2017-08-01 11:02:36  NYCT_4348          00:00:06
92799 2017-08-01 11:12:37  NYCT_4390          00:10:01
94066 2017-08-01 11:12:00  NYCT_4384 -1 days +23:59:23
94084 2017-08-01 11:12:29  NYCT_4348          00:00:29
94417 2017-08-01 11:22:16  NYCT_8379          00:09:47
95331 2017-08-01 11:22:25  NYCT_8389          00:00:09
96900 2017-08-01 11:31:48  NYCT_4343          00:09:23
98402 2017-08-01 11:42:05  NYCT_8379          00:10:17
98413 2017-08-01 11:41:40  NYCT_8384 -1 days +23:59:35
98883 2017-08-01 11:41:47  NYCT_4343          00:00:07

[100 rows x 3 columns]